<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal}}</td>
    </tr>
    <tr>
      <td>Display</td>
      <td>{{ product.display_type}}</td>
    </tr>
    <tr>
      <td>Processor frequency</td>
      <td>{{ product.proccesor_freq}}</td>
    </tr>
    <tr>
      <td>RAM</td>
      <td>{{ product.ram}}</td>
    </tr>
    <tr>
      <td>Graphics card</td>
      <td>{{ product.graph_card}}</td>
    </tr>
    <tr>
      <td>Battery life</td>
      <td>{{ product.time_without_charge}}</td>
    </tr>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal}}</td>
    </tr>
  </tbody>
</table>