<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal}}</td>
    </tr>
    <tr>
      <td>Type of display</td>
      <td>{{ product.display_type}}</td>
    </tr>
    <tr>
      <td>Screen resolution</td>
      <td>{{ product.resolution}}</td>
    </tr>
    <tr>
      <td>Volume of battery</td>
      <td>{{ product.battery_volume}}</td>
    </tr>
    <tr>
      <td>RAM</td>
      <td>{{ product.ram}}</td>
    </tr>
    <tr>
      <td>SD</td>
      <td>{{ product.sd}}</td>
    </tr>
    <tr>
      <td>Maximum built-in memory</td>
      <td>{{ product.sd_volume}}</td>
    </tr>
    <tr>
      <td>Back camera</td>
      <td>{{ product.back_cam_mp}}</td>
    </tr>
    <tr>
      <td>Front camera</td>
      <td>{{ product.front_cam_mp}}</td>
    </tr>
  </tbody>
</table>
